body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color)
}

:root {
    --background-color: #FFFFFF;
    --title-color: #2E2F42;
    --text-color: #434455;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----HEADER----- */

.header {
    background-color: var(--background-color)
}

.header-container {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo-color {
    color: var(--title-color)
}

.header-nav {}

.header-nav-list {}

.header-nav-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.header-address {
    font-style: normal;
}

.header-address-list {}

.header-address-item {}

.header-address-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
    ;
}

/* -----MAIN----- */

.hero-main-page {
    background: #2E2F42;
}

.hero-main-container {}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color)
}

.hero-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
}

.hero-btn-container {}

.hero-btn-list {}

.hero-btn-item {}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-text {}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: var(--background-color);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background: #404BBF;
}

/* -----Section VALUES----- */

.values {
    background-color: var(--background-color)
}

.values-container {}

.values-list {}

.values-item {}

.values-text {}

.values-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

/* -----Section WORK----- */

.work {
    background-color: var(--background-color)
}

.work-container {}

.work-list {}

.work-item {}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color)
}

/* -----Section TEAM----- */

.team {
    background-color: #F4F4FD;
}

.team-container {}

.team-list {}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color)
}

.team-item {
    background-color: #FFFFFF;
}

.worker-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

/* -----FOOTER----- */

.footer {
    background-color: var(--title-color);
}

.footer-container {}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo-color {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}